<style>
    .pre-header-links {
        background-color: #0a0c0f;
        text-align: right;
        padding-right: 10px;
    }

    .pre-header-links a {
        border-bottom: none;
        color: #fff;
    }

    .header,
    .footer {
        background-color: rgb(241, 241, 241);
    }

    {{ if not .Site.Params.disableDarkMode }}

    /**
    * Dark theme
    */

    @media (prefers-color-scheme: dark) {

        .header,
        .footer {
             background-color: #1b1d1e;
        }
    }

    {{ end }}
</style>